# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# ignore Vim's swap files.
*.swp
*~

# Eclipse project
.settings/
.project
.cproject
.pydevproject
.texlipse
/Debug/

# ignore the built executable.
dependencies
/apocalypse/apocalypse
/visualise/visualise
/visualise/demographics
/visualise/globalise
/torus/torus

# ignore outputs and backups
/images/
/images_*
/output
/output_*
/backups*

# ignore intermediate files for tr building.
/report/*.aux
/report/*.dvi
/report/*.log
/report/*.bbl
/report/*.blg
/report/*.toc
/report/*.snm
/report/*.nav
/report/*-converted-to.pdf

/report/tr.pdf
/report/slides.pdf

/report/uncontrolled_birth.pdf
/report/density_birth.pdf
/report/equal_birth.pdf
/report/fertilisation_probability.pdf
/report/stable.pdf
/report/stable_1000000.pdf
/report/step-*.png
/report/step-*.pdf
/report/scaling-*.eps
/report/weak-scaling.eps
