# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# ignore Vim's swap files.
*.swp

# Eclipse project
.settings/
.project
.cproject
.pydevproject

# ignore the built executable.
dependencies
/apocalypse/apocalypse
/visualise/visualise
/visualise/demographics

# ignore outputs and backups
/images/
/images_*
/output
/output_*
/backups*

# ignore intermediate files for tr building.
/report/tr.aux
/report/tr.dvi
/report/tr.log
/report/tr.pdf
/report/tr.bbl
/report/tr.blg

/report/movement-eps-converted-to.pdf
/Debug/
