# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# ignore Vim's swap files.
*.swp

# Eclipse project
.project
.cproject

# ignore the built executable.
dependencies
apocalypse

# ignore intermediate files for tr building.
/tr.aux
/tr.dvi
/tr.log
/tr.pdf
movement-eps-converted-to.pdf
